{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}

<div class="container">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Ads</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Where ?</a>
        </div>
    </nav>
        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="form-group">
            {{ form_label(form.title) }} 
            <br> 
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_help(form.title) }}
        </div>

        <div class="form-group">
            {{ form_label(form.price) }}
            <br>
            {{ form_widget(form.price) }}
            {{ form_errors(form.price) }}
            {{ form_help(form.price) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }} 
            <br>
            {{ form_widget(form.description) }}
            {{ form_errors(form.price) }}
            {{ form_help(form.description) }}
        </div>

        <div class="form-group">
            {{ form_label(form.state) }}
            {{ form_widget(form.state) }}
            {{ form_errors(form.state) }}
            {{ form_help(form.state) }}
        </div>

        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
            {{ form_help(form.category) }}
        </div>
    </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            
            
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <br>
            <button type="submit" class="btn btn-success">Validation</button>
        </div>
</div>

    
{% endblock %}